<h1>Order History</h1>

<div>
  <%= form_tag("/trips", method: "get") do %>
  <h3>Filter Customer Orders:</h3> <br>
    Category <%= select_tag "date", options_for_select(["Today", "This Week", "This Year"]), include_blank: true %> <br>

    <%= submit_tag "Filter" %>
  <% end %>
</div>

<table style="width: 75%;">
  <tr>
    <th style="text-align: left;">Date</th>
    <th style="text-align: left;">Order No.</th>
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Order Total</th>
  </tr>
  <% @trips.each do |trip|%>
    <tr>
      <% if trip.user%>
        <td><%=  trip.date.strftime("%m/%d/%y, %l:%M %p") %></td>
        <td><%=  trip.id %></td>
        <td><%= link_to trip.user.named, user_path(trip.user) %></td>
        <%  @trip_total = trip.total %>
        <% @sum_of_totals+= @trip_total %>
        <td><%= number_to_currency(@trip_total) %></td>
      <% end %>
    </tr>
  <% end %>

   <h2>Sum Total: <%# Trip.admin_total %><%= number_to_currency(@sum_of_totals) %></h2>

</table>
