<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@user.errors.count, "error") %>
    prohibited this user from being saved:
  </h2>

  <ul>
  <% @user.errors.full_messages.each do |msg| %>
  <% if @user.errors.any? %>
  <li><%= msg %></li>
  <% end %>
  </ul>

  </div>
  <% end %>
  <% end %>



<%# binding.pry %>
 <%= form_for @user, url: signin_path(@user), :method => "post" do |f|   %>
 <p class="form-title">Sign In</p>
 <%= f.label :email %>
 <%= f.text_field :email%> <br>
 <%= f.label :password %>
 <%= f.password_field :password%> <br>
 <%= f.submit "Sign In" %>
 <% end %>
