<%# if @user.first_name%>

<h1>Account Information: <%= @user.named %>

<h3>Email: <%= @user.email %></h3>

<h4>Orders:</h4> <br>


<% @user.trips.each do |trip| %>
<% if !trip.meals.empty? %>
  <%= "Order No. #{trip.id}"%> |
  <%= "Date: #{trip.date.strftime("%m/%d/%y, %l:%M %p")}"  if !trip.meals.empty?%> <br>
  <%= "Total:  #{number_to_currency(trip.total)}" if !trip.meals.empty? %> <br> <br>
  <% trip.meals.each do |meal| %>
  Meal: <%= meal.name %> <br>
  Price: <%= number_to_currency(meal.price) %> <br>
  <% end %>
  <% end %>
   <br> <br>
<% end %>

<br> <br>
