<% if @user.first_name%>

<h1>Account Information: <%= @user.first_name %> <%= @user.last_name %></h1>
<% else %>
<h1>Account Information: <%= @user.name %></h1>
<% end %>
<h3>Email: <%= current_user.email %></h3>

<h4>Orders:</h4> <br>


<% @user.trips.each do |trip| %>
<%# if trip.meals %>
  <%= link_to "Order No. #{trip.id}", trip_path(trip) if !trip.meals.empty?%> <br>
  <%= "Date: #{trip.date.strftime("%m/%d/%y, %l:%M %p")}"  if !trip.meals.empty?%> <br>
  <%= "Total:  #{trip.total}" if !trip.meals.empty? %>
  <% trip.meals.each do |meal| %>
  Meal: <%= meal.name %> <br>
  Price: <%= meal.price %> <br>
  <% end %>
   <br> <br>
<% end %>

<br> <br>
