  <h1><%= @meal.name %></h1>

<h3><%= @meal.description %></h3>

Price: <%= number_to_currency(@meal.price) %>  | <%= @meal.calorie_count %> Calories

<%= link_to "Edit", edit_meal_path(@meal) if current_user && is_admin?  %></td><br>

 <br>

<%= link_to "Add to Order", new_order_path %><br> <br>
